@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
        url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),
        url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype'),
        url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype');
    font-display: swap;
}


* {
    font-family: IRANSans;
}

body {
    font-size: 14px;
    /* background: linear-gradient(180deg, #96001d, #520010);
    background-repeat: no-repeat;
    min-height: 100vh; */
    direction: rtl;
}

.ltr {
    direction: ltr;
}
